<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pasajes!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="appApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pasajes!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" ng-if="usuarioActual" ng-repeat="m in menu | orderBy:'nombre'">
            <li class="dropdown">
              <a ng-href="{{ m.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">{{ m.nombre }} <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
              <ul class="dropdown-menu">
                <li ng-repeat="item in m.item | orderBy:'nombre'">
                  <a ng-href="{{ item.url }}">{{ item.nombre }}</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" ng-if="usuarioActual">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Hola, @{{ usuarioActual.username }} <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
              <ul class="dropdown-menu">
                <li><a href="">Perfil</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#!/logout">Cerrar sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div><!-- /.container-fluid -->
    </nav>


    <div class="col-sm-12 body-personalizado">
      <div ng-view="">
        {{ menu }}
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/ngSweetAlert/SweetAlert.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config/app-constants.js"></script>
        <script src="scripts/config/routes/core-routes.js"></script>
        <script src="scripts/config/http-provider.js"></script>
        <!-- Controladores -->
        <script src="scripts/controllers/login-controller.js"></script>
        <script src="scripts/controllers/registro-controller.js"></script>
        <script src="scripts/controllers/logout-controller.js"></script>
        <script src="scripts/controllers/pasaje-controller.js"></script>
        <script src="scripts/controllers/boleto-list-controller.js"></script>
        <script src="scripts/controllers/boleto-add-controller.js"></script>
        <script src="scripts/controllers/pasaje-list-controller.js"></script>
        <script src="scripts/controllers/pasaje-edit-controller.js"></script>
        <script src="scripts/controllers/pasaje-add-controller.js"></script>
        <!-- Servicios -->
        <script src="scripts/services/login-service.js"></script>
        <script src="scripts/services/registro-service.js"></script>
        <script src="scripts/services/boleto-service.js"></script>
        <script src="scripts/services/pasaje-service.js"></script>
        <script src="scripts/services/sitio-service.js"></script>
        <script src="scripts/services/menu-service.js"></script>
        <script src="scripts/services/unidad-service.js"></script>
        <script src="scripts/services/interceptors-service.js"></script>
        <script src="scripts/services/ngSweetAlert.js"></script>
        <!-- Directivas -->
        <script src="scripts/directives/datetimepicker.js"></script>
        <!-- endbuild -->
      </body>
      </html>
