<div class="container">

  <div class="jumbotron">
    <div class="titulo-jumbotron">
      <h3>Busquemos pasajes disponibles!</h3>
    </div>
    <span class="subtitulo-jumbotron">Sistema de gestión de pasajes!</span>
    <form class="navbar-form navbar-left" name="pasajeForm" novalidate>
      <div class="form-group">

        <div class="form-group" ng-class="{'form-group has-error has-feedback': pasajeForm.repeatSelectOrigen.$touched && pasajeForm.repeatSelectOrigen.$invalid}">
          <label for="repeatSelectOrigen">Selecciona la ciudad de origen</label>
          <select class="form-control select-sitios" name="repeatSelectOrigen" id="repeatSelectOrigen" ng-model="ciudadOrigen.model" required>
            <option ng-repeat="sitio in pasajeVm.sitios" value="{{sitio.id}}">{{sitio.ciudad}}</option>
          </select>
          <span class="spans-has-error" ng-show="pasajeForm.repeatSelectOrigen.$error.required && pasajeForm.repeatSelectOrigen.$touched">Ingresa la ciudad de origen.</span>
        </div>

        <div class="form-group" ng-class="{'form-group has-error has-feedback': pasajeForm.repeatSelectDestino.$touched && pasajeForm.repeatSelectDestino.$invalid}">
          <label for="repeatSelectDestino">Selecciona la ciudad de Destino</label>
          <select class="form-control select-sitios" name="repeatSelectDestino" id="repeatSelectDestino" ng-model="ciudadDestino.model" required>
            <option ng-repeat="sitio in pasajeVm.sitios" value="{{sitio.id}}">{{sitio.ciudad}}</option>
          </select>
          <span class="spans-has-error" ng-show="pasajeForm.repeatSelectDestino.$error.required && pasajeForm.repeatSelectDestino.$touched">Ingresa la ciudad de destino.</span>
        </div>

        <div class="form-group" ng-class="{'form-group has-error has-feedback': pasajeForm.fecha.$touched && pasajeForm.fecha.$invalid}">
          <label for="fecha">Selecciona la fecha de viaje</label>
            <input type="date" class="form-control select-sitios" id="fecha" name="fecha" ng-model="myDate" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            <span class="spans-has-error" ng-show="pasajeForm.fecha.$error.required && pasajeForm.fecha.$touched">Ingresa la fecha de búsqueda.</span>
        </div>

        <button ng-disabled="pasajeForm.$invalid" ng-click="pasajeVm.buscarPasajes(myDate, ciudadOrigen.model, ciudadDestino.model)" type="submit" class="btn-sitio btn btn-primary btn-lg">Buscar Pasajes!</button>
      </div>
    </form>
  </div>

  <table class="table table-hover" ng-if="pasajeVm.pasajes.length">
    <thead>
      <tr>
        <th>Origen</th>
        <th>Destino</th>
        <th>cooperativa</th>
        <th>Precio</th>
        <th>Asientos Disponibles</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pasaje in pasajeVm.pasajes" ng-click="pasajeVm.comprarPasaje(pasaje)">
        <th>{{ pasaje.origen.ciudad }}</th>
        <th>{{ pasaje.destino.ciudad }}</th>
        <th>{{ pasaje.unidad.cooperativa.nombre }}</th>
        <th>{{ pasaje.precio }}</th>
        <th>{{ pasaje.asientos_disponibles }}</th>
      </tr>
    </tbody>
  </table>
</div>
